body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fc8b8b;
    text-align: center;
}
h3 {
    color: #4d0000;
    text-align:center;
}
p {
    color: #f0f0f0;
    font-size: 18px;
    line-height: normal;
}
